{% extends "blog/base.html" %}
{% block content %}
{% csrf_token %}
{% load socialaccount %}
{% if not user.is_authenticated %}
<div class="middle-container">
    <div class="main-page">
        <div class="block-left">
            <p>Stay curious.</p>
            <h3>Discover stories, thinking, and expertise from writers on any topic.</h3>
        </div>
        <div class="block-right">
            <img src="https://media.giphy.com/media/L5Hvew7QeSZVaWsQkV/giphy.gif" width="350" alt="">
        </div>
    </div>
</div>
{% endif %}
<legend class="border-b mb-4">Trending on Kateum</legend>

{% include "blog/posts_temp.html" %}
<!-- THERE ARE NO CATEGORIES TO SEE FROM THIS TEMPLATE-->
{% endblock %}