{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<div class="container">
    <div class="meta">
        <div class="image"></div>
        <div class="info">
            <h1>{{ object.title }}</h1>
            <p class="subtitle"></p>
            <div class="author">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
                    <div class="authorName"><a class="mr-2" href="{% url 'user_posts' object.author.username %}">{{object.author }}</a></div>
                    <div class="authorSub"><small class="text-muted">{{ object.date_posted|date:"d F Y" }}</small></div>
            </div>
        </div>
    </div>

    {% if object.author == user %}
    <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post_delete' object.id %}">Delete</a>
    </div>
    {% endif %}

    {% if object.image %}
    <img src="{{ object.image.url }}" alt="" width="150" class="mr-3 md-2">
    {% endif %}
    <p class="article-content">{{ object.content|safe }}</p>
    <div class="article-category">
        {% if object.category %}
        {{ object.category }}
        {% endif %}
    </div>


{% endblock %}




