.cards {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    display: flex;
    grid-template-rows: max-content 100px 2fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
